@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');


{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    font-size: 62,5% ; /*10px / 16px*/
}


header{
    height: 100vh;
    background-image: url("../imagens/thiagosite.jpg");
    background-size: cover;
    color: rgb(255, 238, 4);
    /* shorthand */
    padding: 21rem 11rem

}


h1 {
    font-size: 3.75rem;
    font-weight: 700;
    color:rgb(255, 5, 5);
}


span{
    font-size: 3.00rem;
    font-weight: 700;
}


a{
    font-size: 2.50rem;
}

h2{
    font-weight: 700;
}


p{
    font-size: 1.25rem;
}

